@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(218, 23%, 16%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    
    width: 50%;
    max-width: 500px;
    min-width: 350px;
    height: auto;
}

.card {
    width: 100%;
    padding: 10px;
    background-color: hsl(217, 19%, 24%);
    box-shadow:  hsl(221, 24%, 13%) 4px 4px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


.card__title {
    text-align: center;
    margin: 30px;
    font-size: 14px;
    color: hsl(150, 100%, 66%);
}

.card__phrase {
    text-align: center;
    padding: 0 10px;
    color: hsl(193, 38%, 86%);
    font-size: 28px;
    font-weight: 800;
}

.divider {
    margin: 30px 0 0px;
    max-width: 100%;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: hsl(150, 100%, 66%);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    z-index: 1000;
    position: relative; 
    top: 34px;
    border: none;
    cursor:pointer;
}

.icon_img{
    width: 23px;
    height: 23px;
}


@media screen and (max-width: 375px) {
    .container {
        width: 80%;
        max-width: 300px;
        min-width: 200px;
    }
    .card__title {
        font-size: 11px;
    }
    .card__phrase {
        font-size: 20px;
    }
    .icon {
        width: 35px;
        height: 35px;
        top: 30px;
    }
    .icon_img {
        width: 15px;
        height: 15px;
    }
}